/* Basic styling for the menu */
nav ul {
    list-style: none;
    background-color: #333;
    text-align: center;
    padding: 1rem;
    margin: 0;
}

nav li {
    display: inline-block;
    padding: 1rem;
}

nav li a {
    color: #444;
    text-decoration: none;
    text-transform: uppercase;
    padding: 1rem;
}

/* Responsive design */
@media screen and (max-width: 768px) {
    nav li {
        width: 100%;
        display: block;
    }
}
